:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
  
  /*size*/
  --size-button: 60px;
  --base-space: 8px;
  --size-border: 4px;
  --size-thumb: 50px;
  
}

body {
  background-color: var(--color-black);
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  height: 700px;
  .logo{
    cursor: pointer;
    transition: transform 300ms ease;
    &:hover{
      transform: scale(1.1);
    }
  }
  .btn{
    display: flex;
    &_t{
      cursor: pointer;
      background-color: transparent;
      border: none;
      outline: none;
      transition: transform 300ms ease;
      &:hover{
        transform: scale(1.1);
      }
    }
    &_p{
      cursor: pointer;
      background-color: transparent;
      border: none;
      outline: none;
      transition: transform 300ms ease;
      &:hover{
        transform: scale(1.1);
      }
    }
    &_s{
      cursor: pointer;
      background-color: transparent;
      border: none;
      outline: none;
      transition: transform 300ms ease;
      &:hover{
        transform: scale(1.1);
      }
    }
    &_text{
      margin: 12px;
      &_blue{
        background-color: var(--color-blue);
        cursor: pointer;
        padding: var(--base-space);
        border-radius: var(--size-border);
        }
        &_yellow{
        background-color: var(--color-yellow);
        cursor: pointer;
        padding: var(--base-space);
        border-radius: var(--size-border);

        }
        &_pink{
        background-color: var( --color-pink);
        cursor: pointer;
        padding: var(--base-space);
        border-radius: var(--size-border);

        }
    }
    .img{
      width: var(--size-button);
      height: var(--size-button);
    }
  }
  .items{
    width: 40%;
    height: 40%;
    list-style: none;
    padding-left: 0;
    overflow-y: scroll;
    &_item{
      display: flex;
      align-items: center;
      background-color: #dfdfdf;
      margin-bottom: var(--base-space);
      cursor: pointer;
      &:last-child {      //마지막요소 마진0주기
        margin-bottom: 0;
      }
      &_thumb{
        width: var(--size-thumb);
        height: var(--size-thumb);
      }
      &_explain{
        padding-left: 20px;
      }
    }
  }
}

* {
  box-sizing: border-box;
}
